<!DOCTYPE html>
<html>
<head>
	<title>add depart</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta http-equiv='X-UA-Compatible' content='IE=Edge'>
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css"    href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
</head>
<body>
	<header class="navbar navbar-default bs-docs-nav" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse"
				data-target=".bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand active">XXF</a>
		</div>
		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			<ul class="nav navbar-nav">
				<li>
					<a href="../../adddepart/">添加部门</a>
				</li>
				<li>
					<a href="../../resetpass/">重置密码</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
<div class="container bs-docs-container">
	<div class="row" id="contain">
		<div class="col-md-6 col-lg-6" style="border-right: silver;border-right-width: 1px;border-right-style: solid;">
			{% csrf_token %}
			<h2 class="form-signin-heading">
				部门信息
			</h2>
		</div>
		<div class="col-md-6 col-lg-6">
			{% csrf_token %}
			<h2 class="form-signin-heading">
				人员信息
			</h2>
		</div>
		<div class="col-md-6 col-lg-6">
			<table class="table table-hover table-striped table-bordered table-responsive">
				<thead><tr><td>部门</td><td></td></tr></thead>
				<tbody>
					{% for d in depart %}
					<tr>
						<td>{{ d.departname }}</td>
						<td><a class="btn btn-info btn-sm" href="../../modifydepart/{{ d.id }}/">修改</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-md-6 col-lg-6">
			<table class="table table-hover table-striped table-bordered table-responsive">
				<thead><tr><td>人员</td><td></td></tr></thead>
				<tbody>
					{% for u in user %}
					<tr>
						<td>{{ u.username }}</td>
						<td><a class="btn btn-info btn-sm" href="../../resetpass/">重置密码</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>
